@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* Common Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f3f1ff;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 870px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
}
.section-title {
    font-size: 24px;
    font-weight: 500;
    color: #562eff;
    margin-top: 0;
}
/* Start Top Players Style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.players .player {
    display: flex;
    align-items: center;
}
.players .player img {
    width: 56px;
    height: 56px;
}
.players .player h3 {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
}
hr {
    border: 1px solid #d1d1d1;
    margin: 30px 0;
}
/* End Top Players Style */
/* Start Top Blogs style */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 40px;
}
.blog {
    display: flex;
}
.blog-thumbnail img {
    width: 177px;
    height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.blog-info .blog-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.blog-author {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: normal;
    margin: 6px;
}
.blog-author a {
    text-decoration: none;
    color: #562eff;
}
/* End Top Blogs style */
/* Start Top Courses style */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.course img {
    width: 100%;
    height: 104px;
}
.course .course-details .course-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 0;
}
.course .course-details .course-author {
    font-size: 15px;
    font-weight: normal;
    color: #ed6b4f;
    margin: 7px 0;
}
.course .course-details .course-info {
    display: flex;
    justify-content: space-between;
}
.course .course-details .course-info .rating i {
    font-size: 12px;
}
.course .course-details .course-info .rating i.filled {
    color: #ffc014;
}
.course .course-details .course-info .rating i.empty {
    color: #aeaeae;
    opacity: 0.25;
}
.course .course-details .course-info .rating span {
    font-size: 14px;
    font-weight: normal;
    color: #a2a2a2;
}
.course .course-details .course-info .course-duration {
    background-color: #ffe4e8;
    border-radius: 15px;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: normal;
    color: #ff4a60;
}
.course .course-details .course-info .course-duration span {
    margin-left: 5px;
}

/* End Top Courses style */

/* tablate device style */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        width: 100%;
        padding: 30px 0;
    }
    .section-title {
        margin-left: 10px;
    }
    .players,
    .blogs {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }
    .blog-info .blog-title,
    .course .course-details .course-title {
        font-size: 18px;
    }
}
/* mobile device style */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
        padding: 30px 0;
    }
    .section-title {
        margin-left: 6px;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 6px;
    }
    .players .player h3 {
        font-size: 15px;
        margin-left: 8px;
    }
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 6px;
    }
    .courses .course {
        margin-bottom: 8px;
    }
    .courses .course img {
        height: 150px;
    }
}
